<link rel="stylesheet" href="/css/friends.css" />
<div id="friend-container">
    <h4>Suggested Friends</h4>
    <%for (u of all_users){%> <%if(locals.user.id !== u.id){%>
    <a href="/users/profile/<%= u.id%>" class="friend-names">
        <%= u.name%>
    </a>
    <a href="/users/friends/suggestions/<%= u.id%>" class="friends-request"
        >Add friend</a
    >
    <br />
    <%}%> <%}%>
    <h4>
        Pending Requests
        <h5>
            <ul id="received-requests-list">
                Received Request <%for (u of rec_request){%>
                <div id="friend-recRequest-<%= u.from_user.id%>">
                    <a
                        href="/users/profile/<%= u.from_user.id%>"
                        class="friend-names"
                    >
                        <%= u.from_user.name%>
                    </a>
                    <a
                        href="/users/friends/accept/<%= u.from_user.id%>"
                        class="accept-request"
                        >Accept</a
                    >
                    <a
                        href="/users/friends/cancel/<%= u.from_user.id%>"
                        class="reject-request"
                        >Cancel</a
                    >
                    <br />
                </div>
                <%}%>
            </ul>
        </h5>
        <h5>
            Sent Request
            <ul id="sent-requests-list">
                <%for (u of sent_request){%>
                <div id="friend-sentRequest-<%= u.to_user.id%>">
                    <a
                        href="/users/profile/<%= u.to_user.id%>"
                        class="friend-names"
                    >
                        <%= u.to_user.name%>
                    </a>
                    <a
                        href="/users/friends/cancel/<%= u.to_user.id%>"
                        class="cancel-request"
                    >
                        Cancel
                    </a>
                    <br />
                </div>
                <%}%>
            </ul>
        </h5>
    </h4>
    <h4>
        Friends
        <ul id="current-friends-list">
            <%for (u of sent_friends){%>
            <div id="friend-box-<%= u.to_user.id%>">
                <a
                    href="/users/profile/<%= u.to_user.id%>"
                    class="friend-names"
                >
                    <%= u.to_user.name%>
                </a>
                <a
                    href="/users/friends/remove/<%= u.to_user.id%>"
                    class="remove-sent-request"
                    >Remove</a
                >
                <br />
            </div>
            <%}%> <%for (u of received_friends){%>
            <div id="friend-box-<%= u.from_user.id%>">
                <a
                    href="/users/profile/<%= u.from_user.id%>"
                    class="friend-names"
                >
                    <%= u.from_user.name%>
                </a>
                <a
                    href="/users/friends/remove/<%= u.from_user.id%>"
                    class="remove-sent-request"
                    >Remove</a
                >
                <br />
            </div>
            <%}%>
        </ul>
    </h4>
</div>
