<link rel="stylesheet" href="/css/friends.css" />
<div id="friend-container">
    <h5>Suggested Friends</h5>
    <ul class="list-group list-item-top-border">
        <%for (u of all_users){%> <%if(locals.user.id !== u.id){%>
        <li class="list-group-item list-item-flex">
            <a href="/users/profile/<%= u.id%>" class="friend-names">
                <img src="<%= u.avatar%>" class="friend-list-avatar" />
                <%= u.name%>
            </a>
            <a
                href="/users/friends/suggestions/<%= u.id%>"
                class="friends-request btn btn-primary btn-sm"
                >Add friend</a
            >
        </li>
        <%}%> <%}%>
    </ul>
    <% if(rec_request.length !==0 ){%>
    <h5>
        Received Request
    </h5>
    <%}%>
    <ul id="received-requests-list" class="list-group list-item-top-border">
        <%for (u of rec_request){%>
        <li class="list-group-item list-item-flex">
            <div id="friend-recRequest-<%= u.from_user.id%>">
                <a
                    href="/users/profile/<%= u.from_user.id%>"
                    class="friend-names"
                >
                    <img
                        src="<%= u.from_user.avatar%>"
                        class="friend-list-avatar"
                    />
                    <%= u.from_user.name%>
                </a>
                <a
                    href="/users/friends/accept/<%= u.from_user.id%>"
                    class="accept-request btn btn-primary btn-sm"
                    >Accept</a
                >
                <a
                    href="/users/friends/cancel/<%= u.from_user.id%>"
                    class="reject-request btn btn-primary btn-sm"
                    >Cancel</a
                >
                <br />
            </div>
        </li>
        <%}%>
    </ul>
    <% if(sent_request.length !==0 ){%>
    <h5>
        Sent Request
    </h5>
    <%}%>
    <ul id="sent-requests-list" class="list-group list-item-top-border">
        <%for (u of sent_request){%>
        <li class="list-group-item">
            <div
                id="friend-sentRequest-<%= u.to_user.id%>"
                class="list-item-flex-div"
            >
                <a
                    href="/users/profile/<%= u.to_user.id%>"
                    class="friend-names"
                >
                    <img
                        src="<%= u.to_user.avatar%>"
                        class="friend-list-avatar"
                    />
                    <%= u.to_user.name%>
                </a>
                <a
                    href="/users/friends/cancel/<%= u.to_user.id%>"
                    class="cancel-request btn btn-primary btn-sm"
                >
                    Cancel
                </a>
                <br />
            </div>
        </li>
        <%}%>
    </ul>

    <% if(rec_request.length !==0 ){%>
    <h5>
        Friends
    </h5>
    <%}%>
    <ul id="current-friends-list" class="list-group list-item-top-border">
        <%for (u of sent_friends){%>
        <li class="list-group-item list-item-flex">
            <div id="friend-box-<%= u.to_user.id%>">
                <a
                    href="/users/profile/<%= u.to_user.id%>"
                    class="friend-names"
                >
                    <img
                        src="<%= u.to_user.avatar%>"
                        class="friend-list-avatar"
                    />
                    <%= u.to_user.name%>
                </a>
                <a
                    href="/users/friends/remove/<%= u.to_user.id%>"
                    class="remove-sent-request btn btn-primary btn-sm"
                    >Remove</a
                >
                <br />
            </div>
        </li>
        <%}%> <%for (u of received_friends){%>
        <li class="list-group-item list-item-flex">
            <div id="friend-box-<%= u.from_user.id%>">
                <a
                    href="/users/profile/<%= u.from_user.id%>"
                    class="friend-names"
                >
                    <img
                        src="<%= u.from_user.avatar%>"
                        class="friend-list-avatar"
                    />
                    <%= u.from_user.name%>
                </a>
                <a
                    href="/users/friends/remove/<%= u.from_user.id%>"
                    class="remove-sent-request btn btn-primary btn-sm"
                    >Remove</a
                >
                <br />
            </div>
        </li>
        <%}%>
    </ul>
</div>
