<li id="post-<%= post._id%>">
        <p>
            <%if(locals.user && locals.user.id == post.user.id){%>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= post.id%>">X</a>
            </small>
            <%}%>
            <%if(post.postType === 'image'){%>
                <div>
                    <img src="<%= post.imageVideo%>" height="100" width="100">
                </div>
            <%}%>
            <%if(post.postType === 'video'){%>
                <div>
                    <video
                        id="my-video"
                        class="video-js"
                        controls
                        preload="auto"
                        width="640"
                        height="264"
                        poster=""
                        data-setup="{}"
                    >
                        <source src="<%= post.imageVideo%>" type="video/mp4" />
                        <!-- <source src="MY_VIDEO.webm" type="video/webm" /> -->
                        <p class="vjs-no-js">
                        To view this video please enable JavaScript, and consider upgrading to a
                        web browser that
                        <a href="https://videojs.com/html5-video-support/" target="_blank"
                            >supports HTML5 video</a
                        >
                        </p>
                    </video>
                </div>
            <%}%>
            <%= post.content%>
            <br>
            <small>
                <%= post.user.name%>
            </small>

            <!-- display like with links if logged in and if not just show the likes... -->
            <br>

            <small class="likebox">
                <%if (locals.user){%>
                    <div class="likeOptions">
                        <a href="/likes/toggle/?id=<%=post._id%>&type=Post&reaction=like">
                            👍
                        </a>
                        <a href="/likes/toggle/?id=<%=post._id%>&type=Post&reaction=love">
                            ❤️
                        </a>
                        <a href="/likes/toggle/?id=<%=post._id%>&type=Post&reaction=haha">
                            😆
                        </a>
                        <a href="/likes/toggle/?id=<%=post._id%>&type=Post&reaction=anger">
                            😡
                        </a>
                        <a href="/likes/toggle/?id=<%=post._id%>&type=Post&reaction=sad">
                            ☹️
                        </a>
                    </div>
                    <a class="toggle-like-button" data-likes="<%=post.likes.length%>" href="/likes/toggle/?id=<%=post._id%>&type=Post&reaction=love">
                        
                        <%= post.likes.length %> 
                        <span class="emojis-post">
                            <% if(post.userReactionMap === 'undefined' || post.userReactionMap.size === 0){%>
                            👍🏻
                            <%}else{%>
                                <%= post.userReactionMap.get(locals.user.id)%>
                            <%}%>
                        </span>
                    </a>
                <% }else{ %>
                    <%= post.likes.length %> <span class="emojis-post">👍</span>
                <%}%>
            </small>

        </p>
        <div id="post-comments">
            <%if (locals.user){%>
                <form action="/comments/create" method="POST" id="post-<%= post._id %>-comments-form">
                    <input type="text" name="content" placeholder="add your comments here.." required/>
                    <input type="hidden" name="post" value="<%= post._id%>" />
                    <input type="submit" value="Add Comment" />
                </form>
            <%}%>
            <div class="post-comments-list">
                <ul id="post-comments-<%= post._id%>">
                    <%for (comment of post.comments){%>
                       <%-include('_comments')-%>
                    <%}%>
                </ul>
            </div>
        </div>
</li>