<ul>
    <%for(post of posts){%>
        <p>
            <%if(locals.user && locals.user.id == post.user.id){%>
            <small>
                <a href="/posts/destroy/<%= post.id%>">X</a>
            </small>
            <%}%>
            <%= post.content%>
            <br>
            <small>
                <%= post.user.name%>
            </small>
        </p>
        <div id="post-comments">
            <%if (locals.user){%>
                <form action="/comments/create" method="POST" id="post-form">
                    <input type="text" name="content" placeholder="add your comments here.." required/>
                    <input type="hidden" name="post" value="<%= post._id%>" />
                    <input type="submit" value="Add Comment" />
                </form>
            <%}%>
            <div class="post-comments-list">
                <ul id="post-comments-<%= post._id%>">
                    <%for (comment of post.comments){%>
                       <%-include('_comments')-%>
                    <%}%>
                </ul>
            </div>
        </div>
        <%}%>
</ul>